.word-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.word-table th,
.word-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.word-table th {
  background-color: var(--primary-color);
  color: rgb(87, 140, 165);
}

.word-table tr:hover {
  background-color: #f1f1f1;
}

.word-table button {
  margin: 0 5px;
}